header {
    color: #e2d89d;
    font-family: Merriweather;
    font-weight: bold;
    font-size: 60px;
}

#header_subtitle {
    color: #e2d89d;
    font-family: Merriweather;
    font-size: 20px;
}

body {

    background-color: rgb(37, 37, 36);
}

.header_wrapper {
    gap: 1rem;
    display: flex;
    margin: 1rem;
    margin-bottom: 3rem;
}

.nav_wrapper {
    margin: 1rem;
    margin-bottom: 5rem;
}

.navbar {
    font-size: 24px;
    padding-top: 1rem;
    margin-top: 1rem;
    margin-bottom: 3rem;
    display: flex;
    gap: 3rem;

}

a:link {
    text-decoration: none;
    font-family: Merriweather;
    color: #e2d89d;
}

a:visited {
    text-decoration: none;
    color: #e2d89d;
}

a:hover {
    text-decoration: none;
    color: #fff8ce;
}

a:active {
    text-decoration: none;
    color: #e2d89d;
}

.text {
    color: #e2d89d;
    font-family: Roboto;
    font-size: 18px;
    margin: auto;
    padding: 1rem;
    line-height: 180%;
}

.main {
    margin: auto;
    width: 35%;
    margin-bottom: 10rem;
}

.pillar {
    background-color:  #e2d89d;
    width: 1rem;
    height: 10rem;
}