@import url('https://fonts.googleapis.com/css2?family=Jost:wght@700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');


:root {
    --bg-color: #242425;
    --text-color: #c7bf92;
    --text-light-color: #f1eabe;
}

header {
    color: var(--text-color);
    font-family: 'Jost';
    font-weight: bold;
    font-size: 4.4rem;

    max-width: 40rem;
    margin: auto;
    margin-bottom: 2rem;
}

.keyword {
    color: var(--text-light-color);
    font-weight: bold;
}

body {
    background-color: var(--bg-color);
    margin: 0;
}

.navbar {
    display: flex;
    max-width: 40rem;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 3rem;

    font-size: clamp(1.2rem, 3vw, 1.6rem);

    gap: 3rem;
    font-family: Merriweather;
    font-weight: bold;
}

a:link {
    text-decoration: none;
    text-decoration-color: transparent;
    color: var(--text-color);
    text-underline-offset: 0.0rem;
}

a:visited {
    text-decoration: none;
    color: var(--text-color);
}

a:hover {
    text-decoration: underline;
    text-decoration-thickness: 0.3rem;
    text-underline-offset: 0.6rem;
    color: var(--text-light-color);
    transition: 100ms;
}

a:active {
    text-decoration: none;
    color: var(--text-color);
}

.main {
    margin: 0;
}

.text {
    max-width: 40rem;
    margin: auto;

    color: var(--text-color);

    font-family: Merriweather;
    font-size: 16px;
    line-height: 180%;
}

