.dark {
    --background-color: #333333;
    --header-text-color: rgb(88, 141, 240);
    --subheader-text-color: rgb(165, 169, 177);
    --small-text-color: rgb(210, 214, 221);

    --subtle-color: rgb(79, 81, 83);

    --hover-color: rgba(7, 63, 105, 0.8);

    transition: background 0.1s;

  background-color: var(--background-color);
  color: #fff;
}

.light {
  --background-color: #fff;
  --header-text-color: rgb(6, 38, 97);
  --subheader-text-color: rgb(63, 65, 70);
  --small-text-color: rgb(85, 88, 92);

  --subtle-color: rgb(209, 220, 228);

  --hover-color: rgba(185, 224, 255, 0.8);

  transition: background 0.1s;

  background-color: var(--background-color);
  color: #333;
}
